__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv
venv
._*
**/._*
.DS_Store
**/.DS_Store
*.egg-info
**/*.o
**/*.a
**/*.so
**/build
!fuzzers/*/build
!fuzzers/*/build/**
fuzzers/*/run
fuzzers/*/run/**
**/.libs

# outputs
out/
work/out/
runs/
artifacts/
.snapshots/
*.sqlite3
*.profraw
*.profdata
*.log

# git + editor
.git/
.gitignore
.vscode/
.idea/
