__pycache__
.antlr
*.egg-info
_build
*.pyc
.antlr/
*.egg-info/
_build/
.DS_Store
**/.DS_Store
._*
.venv/
.vscode/
.idea/
.tox/
.mypy_cache/
.pytest_cache/
.ruff_cache/
out/
runs/
*.sqlite3
*.profraw
*.profdata
*.log
